body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #fdfbff;
    color: #333;
}

/* Navigation Menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: white;
    border-bottom: 2px solid #E6E6FA;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #6a1b9a; 
    font-weight: bold;
}


.hero {
    height: 60vh;
    background-color: #E6E6FA; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    background-color: #9370DB; 
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
}
