nav {
  background-color: #E6E6FA;
}

nav ul {
  list-style: none;
  display: flex; 
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

nav a:hover {
  color: #D8BFD8;
}
  
